html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
body {
    display: flex;
    flex: auto;
}

#root {
    display: flex;
    flex: auto;
}

#root > div {
    display: flex;
    flex: auto;
}